# Database Configuration
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=3306
DB_NAME=
DATABASE_URL=

# Application Configuration
SECRET_KEY=
FIRST_ADMIN_SECRET_KEY=
JWT_SECRET_KEY=
CORS_ORIGINS=

# Server Configuration
FLASK_APP=main.py
FLASK_ENV=production
PORT=5010