.env
env
/env
venv
/venv
.env

# uv
.venv/

# __pycache__
__pycache__/
.ruff_cache/

# uploads
uploads/

# migrations
migrations/
migrations/env.py

# sql_migrations
sql_migrations/

# alembic
alembic.ini

# scripts
scripts/
docs/
